<section id="footer">
    <article id="footerbalk">
        <img src="/static/images/hart.png" id="hart">
        <img src="/static/images/star.png" id="star">
        <img src="/static/images/cross.png" id="cross">
    </article>
</section>