<section id="footer">
        <img src="/static/images/cross.png" id="cross">
        <img src="/static/images/hart.png" id="hart">
        <img src="/static/images/star.png" id="star">
</section>

{{!-- Dit is de footer. --}}