<section id="header">
    <a href="account"><img src="/static/images/account.png" id="account"></a>
    <img src="/static/images/logotech.png" id="logo">
    <img src="/static/images/accounticon.png" id="account">
</section>