<section id="header">
    <a href="account"><img src="/static/images/account.png" id="account"></a>
    <a href="/"><img src="/static/images/logotech.png" id="logo"></a>
    <a href="api"><img src="/static/images/time.png" id="account"></a>
</section>

{{!-- Dit is de header --}}