<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
    <script src="static/js/javascript.js"></script>
    <script src="static/js/login.js"></script>
</body>
</html>