#homescreen{
    display: flex;
    flex-direction: column;
    padding: 3em;
    label{
        font-family: $main-font;
        margin-bottom: 0.5em;
    }
    input{
    font-family: $main-font;
    border-radius: 2em;
    height: 3em;
    margin-bottom: 2em;
    border: 0.1em solid $green-color;
    padding: 0.5em;
    padding-left: 1em;
    }
}
#accountp{
   color: $purple-color;
   font-family: $main-font;
   font-weight: 600;
   margin-top: 0em;
   margin-left: 5em;
}
a{
    text-decoration: none;
}


#accountscreen {
    display: flex;
    flex-direction: column;
    padding: 3em;
    label {
        font-family: $main-font;
        margin-bottom: 0.5em;
    }
    input {
        font-family: $main-font;
        border-radius: 2em;
        height: 3em;
        margin-bottom: 2em;
        border: 0.1em solid var(--groen);
        padding: 0.5em;
        padding-left: 1em;
        font-size: 1em;
    }
    #hebalaccount{
        color: $black-color;
        background-color: $green-color;
        padding: .7em;
        text-align: center;
        border-radius: 1em;
        margin-bottom: 1em;
        font-family: $main-font;
    }
}


