// CSS reset
*, html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: $grey-color;
}
#background {
    height: 100%;
    width: 100%;
    background-image: url("/static/images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

#backbackground {
    height: 100%;
    z-index: -2;
    background-color: $white-color;
    width: 100%;
    position: absolute;
}

#homescreen {
    margin-top: 10em;
}
