// Custom properties

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$main-font: "poppins", sans-serif;
// Colors
$white-color: #ffffff;
$purple-color: #765ba3;
$red-color: #d9445d;
$blue-color: #5a85c4;
$yellow-color: #f0d654;
$green-color: #6cbfa2;
$grey-color: #dddddd;
$black-color: #000000;