// CSS document

// Variables
@import 'variables';

// Global
@import 'global';

// Partials
@import 'header';
@import 'footer';
@import 'form';

// Pagina's
@import 'home';



/* Background */
#background {
    height: 100%;
    width: 100%;
    background-image: url("/static/images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

#backbackground {
    height: 100%;
    z-index: -2;
    background-color: var(--white);
    width: 100%;
    position: absolute;
}

#homescreen {
    margin-top: 10em;
}

#error {
    font-family: "gotham rounded";
    border-radius: 2em;
    height: 3em;
    margin-bottom: 2em;
    border: 0.1em solid var(--rood);
    padding: 0.5em;
    padding-left: 1em;
    background-color: var(--rood);
    display: none;
}

.errorLabel {
    display: unset !important;
}

.fouteInput {
    border: 0.3em solid var(--rood) !important;
}

// Bestaand account pagina //
#bestaandaccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        padding: 1em;
        width: 17em;
        border-radius: 3em;
        border: 0.2em solid var(--groen);
        font-family: "gotham rounded";
        font-weight: 400;
        font-size: 0.9em;
    }

    article {
        display: flex;
        flex-direction: row;
        margin-left: 2em;

        input {
            border: 0.2em solid var(--rood);
            font-weight: 500;
        }
    }

    article * {
        width: 13em;
        margin-top: 0em;
        text-align: center;
    }

    * {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    figure {
        background: radial-gradient(circle);
        background-image: url("/static/images/Danique2.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        height: 14em;
        width: 14em;
        margin-bottom: 0.4em;
        border: 0.5em solid var(--paars);
    }
}

// api //
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    article {
        background-color: var(--groen);
        padding: 1em;
        border-radius: 3em;
        width: 100%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-family: "gotham rounded";
    }

    h2 {
        font-weight: 800;
    }

    h3 {
        font-weight: 400;
        color: var(--white);
    }

    p {
        font-weight: 800;
        color: var(--paars);
    }
}

// Errorpagina
#errorpagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4em;

    h1 {
        font-family: "gotham rounded";
        font-size: 3em;
        color: var(--rood);
    }

    h2 {
        font-family: "gotham rounded";
        font-size: 2em;
        color: var(--paars);
    }
}
#inloggen{
    width: 100%;
    height: 15em;
}