{{>header}}

<figure id="background">

</figure>
<figure id="backbackground">

</figure>

<section id="bestaandaccount">
    <figure>
    </figure>

    <form action="update" method="post">
        <input type="text" id="accountnaam" name="accountnaam" value="{{accountnaam}}" required>
        <input type="email" id="email" name="email" value="{{email}}">
        <input type="submit" value="Wijzigingen opslaan">
    </form>
    
    <article>
        <form action="uitloggen" method="post">
            <input type="submit" value="Uitloggen">
        </form>
        <form action="verwijdergebruiker" method="post">
            <input type="submit" value="Account verwijderen">
        </form>
    </article>

</section>