{{>header}}

<figure id="background">

</figure>
<figure id="backbackground">

</figure>

{{!-- Hieronder zie je de form die je invult om een account aan te maken --}}
<form action="/register" method="POST" id="accountscreen"> 

    <label for="frame">Voornaam</label>
    <input type="text" id="voornaam" name="voornaam">

    <label for="frame">Achternaam</label>
    <input type="text" id="achternaam" name="achternaam">

    <label for="frame">Accountnaam</label>
    <input type="text" id="accountnaam" name="accountnaam">

    <label for="frame">Email</label>
    <input type="email" id="email" name="email">

    <label for="frame">Wachtwoord</label>
    <input type="password" id="wachtwoord" name="wachtwoord">
    
    <section id="knopjes">
        <a href="">Ik heb al een account</a>
        <button>Account aanmaken</button>
    </section>
</form>