{{>header}}

<figure id="background">

</figure>
<figure id="backbackground">

</figure>

<form action="/inloggen" method="POST"> 

    <label for="frame">Voornaam</label>
    <input type="text" id="fname" name="fname">

    <label for="frame">Achternaam</label>
    <input type="text" id="lname" name="lname">

    <label for="frame">Accountnaam</label>
    <input type="text" id="aname" name="aname">

    <label for="frame">Wachtwoord</label>
    <input type="password" id="password" name="password">
    
    <section id="knopjes">
        <a href="">Ik heb al een account</a>
        <button>Account aanmaken</button>
    </section>
</form>