{{>header}}

<figure id="background">

</figure>
<figure id="backbackground">

</figure>

<section id="bestaandaccount">
    <figure>
    </figure>

    <form>
        <input type="text" id="accountnaam" name="accountnaam">
        <input type="email" id="email" name="email">
        <input type="submit" value="Wijzigingen opslaan">
    </form>
    
    <article>
        <form>
            <input type="submit" value="Uitloggen">
        </form>
        <form>
            <input type="submit" value="Account verwijderen">
        </form>
    </article>

</section>