{{>header}}

<figure id="background">

</figure>
<figure id="backbackground">

</figure>

{{!-- Hieronder zie je de form die je invult om een account aan te maken --}}
<form action="/register" method="POST" id="accountscreen"> 

    <label for="frame">Voornaam</label>
    <input type="text" id="voornaam" name="voornaam" placeholder="Voornaam">

    <label for="frame">Achternaam</label>
    <input type="text" id="achternaam" name="achternaam" placeholder="Achternaam">

    <label for="frame">Accountnaam</label>
    <input type="text" id="accountnaam" name="accountnaam" placeholder="Accountnaam">

    <label for="frame">Email</label>
    <input type="email" id="email" name="email" placeholder="Email">

    <label for="frame">Wachtwoord</label>
    <input type="password" id="wachtwoord" name="wachtwoord" placeholder="Wachtwoord">

        <a href="/login" id="hebalaccount">Ik heb al een account</a>
        <form action="register" method="post">
            <input type="submit" value="Account aanmaken">
        </form>

</form>