{{>header}}

<article id="likespan">
{{!-- Door sections te gebruiken kan ik ze makkelijk een z-index geven en dus stappelen als cards --}}
<section id="vlakkieopa">
    <article>
        <figure id="praag"></figure>
        <section id="tekstvlak">
            <h2>Praag, Hotel Páv</h2>
            <p>Dit historische hotel uit 1806 ligt op slechts 10 minuten wandelen van de Karelsbrug en op een steenworp afstand van het metrostation Narodni Trida. Inclusief gratis WiFi.</p>
        </section>
    </article>
</section>
{{!-- Dit is de push melding als je nog niet ingelogd bent --}}
<article id="eroverheen">
        <h2>Hi!</h2>
        <p>Als je inlogd bent, heb je meer plezier van TRAVEL</p>
        <a href="/login"><button>Inloggen</button></a>
</article>

<figure id="vlakback">
    
</figure>

<figure id="vlakback2">
    
</figure>

</article>

{{>footer}}