{{>header}}

<article id="likespan">
{{!-- Door de gegevens in een section te zetten en daarin de article kan ik hem stijlen als een soort polaroid --}}
<section id="vlakkie">
    <article>
        <figure id="praag"></figure>
        <section id="tekstvlak">
            <h2>Praag, Hotel Páv</h2>
            <p>Dit historische hotel uit 1806 ligt op slechts 10 minuten wandelen van de Karelsbrug en op een steenworp afstand van het metrostation Narodni Trida. Inclusief gratis WiFi.</p>
        </section>
    </article>
</section>

<figure id="vlakback">
    
</figure>

<figure id="vlakback2">
    
</figure>

</article>

{{>footer}}