{{>header}}

<article id="likespan">
{{!-- Door sections te gebruiken kan ik ze makkelijk een z-index geven en dus stappelen als cards --}}
<section id="vlakkieopa">
    <article id="eronder">
        <figure id="praag"></figure>
        <section id="tekstvlak">
            <h2>Praag, Hotel Páv</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni asperiores earum quisquam, ex amet corporis consequuntur nam nostrum esse saepe. Delectus voluptate quasi quod reiciendis itaque culpa aspernatur aliquam corporis!</p>
        </section>
    </article>
</section>
{{!-- Dit is de push melding als je nog niet ingelogd bent --}}
<article id="eroverheen">
        <h2>Hi!</h2>
        <p>Als je inlogd bent, heb je meer plezier van TRAVEL</p>
        <a href="/login"><button id="hpbutton">Inloggen</button></a>
</article>

<figure id="vlakback">
    
</figure>

<figure id="vlakback2">
    
</figure>

</article>

{{>footer}}