{{>header}}

<article id="likespan">
{{!-- Door de gegevens in een section te zetten en daarin de article kan ik hem stijlen als een soort polaroid --}}
<section id="vlakkie">
    <article>
        <figure id="praag"></figure>
        <section id="tekstvlak">
            <h2>Praag, Hotel Páv</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni asperiores earum quisquam, ex amet corporis consequuntur nam nostrum esse saepe. Delectus voluptate quasi quod reiciendis itaque culpa aspernatur aliquam corporis!</p>
        </section>
    </article>
</section>

<figure id="vlakback">
    
</figure>

<figure id="vlakback2">
    
</figure>

</article>

{{>footer}}