<figure id="background">

</figure>
<figure id="backbackground">

</figure>

{{>header}}

<form action="/inloggen" id="homescreen" method="POST"> 

    <label for="frame">Inlognaam</label>
    <input type="text" id="accountnaam" name="accountnaam">

    <label for="frame">Wachtwoord</label>
    <input type="password" id="wachtwoord" name="wachtwoord">

    <section id="knopjes">
        <button>Inloggen</button>
        <a href="/accountaanmaken">Account aanmaken</a>
    </section>

    <label id="error"></label>
    
</form>

