<figure id="background">

</figure>
<figure id="backbackground">

</figure>

{{>header}}

<form action="/inloggen" id="homescreen" method="POST"> 

    <label for="frame">Inlognaam</label>
    <input type="text" id="aname" name="aname">

    <label for="frame">Wachtwoord</label>
    <input type="password" id="password" name="password">

    <section id="knopjes">
        <button>Inloggen</button>
        <a href="/account">Account aanmaken</a>
    </section>

</form>

