<figure id="background">

</figure>



<form method="login" id="homescreen"> 

    <label for="frame">Inlognaam</label>
    <input type="text" id="aname" name="aname">

    <label for="frame">Wachtwoord</label>
    <input type="text" id="password" name="password">

    <section id="knopjes">
        <button>Inloggen</button>
        <button>Account aanmaken</button>
    </section>

</form>

