{{>header}}

<figure id="background">

</figure>
<figure id="backbackground">

</figure>

{{!-- Door middel van een section gemakkelijk in het midden gezet --}}
<section id="errorpagina">
    <h1>ERROR 404:</h1>
    <h2>Page not found</h2>
</section>