{{>header}}

<figure id="background">

</figure>
<figure id="backbackground">

</figure>

<section id="filteren">

    <h2>Maximale budget:</h2>
    <article id="prijsslider">
        <input type="range" min="100" max="1999" value="500" class="slider" id="range">
        <p>€<span class="prijs">500</span></p>
    </article>

</section>